<section class="block w-full bg-zinc-100 py-8 px-4 border border-gray-200 rounded-md shadow-sm">
  <div class="flex justify-center">
    <h1 class="text-3xl font-bold text-orange-600">Crie uma nova tarefa</h1>
  </div>

  <%= render 'form' %>
</section>
